body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Increase the default font-size back to an equivalent value of 16px */
  font-family: "Open Sans";
  font-size: 1.6rem;

  /* This app has an opt-in policy for scrolling */
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body {
  width: 100%;
  height: 100%;
}

/* Make rem === 10px for easier calculations */
:root {
  font-size: 62.5%;
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans");
